.form {
    background-color: #555A6D;
    width: 80vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1%;
}

.button {
    width: 15vh;
}