.sidebar__title {
  font-size: 36px;
  margin-top: 1.25rem;
  margin-left: .75rem;
}

.sidebar__logo {
  display: block;
  margin-inline: auto;
}

.sidebar__app_title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 1.5rem;
}

.sidebar__separator {
  display: block;
  margin: auto;
  margin-block: 1.5rem;
  
  width: 80%;
  height: 1px;
  
  background-color: #353844;
}

.sidebar__breadcrumb {
  margin-top: 2rem;
  margin-left: .75rem;
}

.sidebar__content {
  display: grid;
}